extends layout 


block main-content
  div#main
    div
     
      div
        p.page-title Welcome to  
        h1.page-title WisDM.
        p#white-text The wisdom of the ages, at your finger tips.
      div
        form(method='post' action='/' name="myForm")
          label(for='userInput') 
          textarea.center(name='userInput' id='userInput' placeholder="Ask me anything..." maxlength="120")
          input.input-button(type="submit" value="Ask The Sages" name="f_submit" alt="submit your question")     
        if (zen_quote)
          p#quote-result '#{zen_quote}'
          p#quoteAuthor #{quote_author}
        else
          p#quote-result
            | Please enter a question to receive your zen quote.