extends layout 


block main-content
  div.content
     
    div
      h1.page-title Hello! Welcome to DM Wisdom.
      p The wisdom of the ages, at your finger tips.
        form(method='post' action='/submitInput' name="myForm")
          label(for='userInput') 
          textarea(name='userInput' id='userInput')
          input(type="submit" value="Ask The Sages" name="f_submit" alt="submit your question")     
      p #{zen_quote}