extends layout 


block main-content
  div#main
    div
     
      div
        p.page-title Welcome to  
        h1.page-title WisDM.
        p The wisdom of the ages, at your finger tips.
      div
        form(method='post' action='/submitInput' name="myForm")
          label(for='userInput') 
          textarea.center(name='userInput' id='userInput' placeholder="ask me anything" maxlength="120")
          input.input-button(type="submit" value="Ask The Sages" name="f_submit" alt="submit your question")     
      
        p#quote-result '#{zen_quote}'
        //- p#quote-result #{quote_author}