block variables 
doctype html 
html 
  head
    meta(charset="utf-8")
    title #{title} | WisDM
    block scripts 
      link(rel="stylesheet", type="text/css", href="/styles.css")
      link(rel="icon", type="image/x-icon", href="/images/favicon.ico")
  body
    header#header 
      .header-content   
        h2#white-text 
          a(href="#") WisDM
    main
      block main-content 
    footer#footer 
      p &copy; Copyright Andrew Barker, 2023.