block variables 
doctype html 
html 
  head
    meta(charset="utf-8")
    title #{title} | Test Website
    block scripts 
      <script src="/formProcess.js" type="text/javacript"></script>
      //- script(src='index.js' type="text/javascript")
      link(rel="stylesheet", type="text/css", href="/styles.css")
  body
    header#header 
      .header-content   
        h2#site-name 
          a(href="#") DM Wisdom 
      //- nav#main-navigation 
      //-   ul 
      //-     each link in menu 
      //-       li 
      //-         a(href=link.path) #{link.name}
    main#main 
      block main-content 
    footer#footer 
      p &copy; Copyright Andrew Barker, 2023.